.custom-navbar {
  background-color: var(--main-color) !important;
  color: var(--text-main) !important;
}

/* 브랜드 텍스트나 링크 텍스트 색상 */
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: var(--text-main) !important;
}

/* 선택 시나 호버 시 색상 변경 */
.custom-navbar .nav-link:hover {
  color: var(--accent-color-1) !important;
}

/* 검색 버튼 스타일 */
.custom-btn {
  background-color: var(--accent-color-1) !important;
  color: var(--bg-color) !important;
  border: 1px solid var(--main-color) !important;
}

.custom-btn:hover {
  background-color: var(--accent-color-1) !important;
  color: white !important;
  border-color: var(--accent-color-2) !important;
}

/* 상단 이벤트 배너 스타일 분리 */
.top-banner {
  background-color: #f8f9fa;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}



