<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.example.refundrequests.service.impl.RefundMapper">

	<insert id="insertRefundRequest" parameterType="RefundVO">
		INSERT INTO REFUND_REQUESTS (
		RNO,
		USERID,
		REASON,
		CONTENT,
		REQUEST_DATE,
		ONO,
		STATUS
		) VALUES (
		REFUND_SEQ.NEXTVAL,
		#{userid},
		#{reason},
		#{content},
		SYSDATE,
		#{ono},
		#{status}
		)
	</insert>

	<select id="selectRefundList" resultType="RefundVO">
		SELECT
		RNO,
		USERID,
		REASON,
		CONTENT,
		REQUEST_DATE,
		ONO,
		STATUS
		FROM REFUND_REQUESTS
		ORDER BY REQUEST_DATE DESC
	</select>
	
	<select id="selectRefundListByUserId" parameterType="String" resultType="RefundVO">
    SELECT
        RNO,
        USERID,
        REASON,
        CONTENT,
        REQUEST_DATE,
        ONO,
        STATUS
    FROM REFUND_REQUESTS
    WHERE USERID = #{userid}
    ORDER BY REQUEST_DATE DESC
</select>

</mapper>
