<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.refund.service.impl.RefundMapper">

    <insert id="insertRefundRequest" parameterType="RefundVO">
        INSERT INTO REFUND_REQUESTS (USER_ID, REASON, CONTENT, REQUEST_DATE)
        VALUES (#{userId}, #{reason}, #{content}, SYSDATE)
    </insert>

</mapper>
